.container{
    .bg-light{
        margin-top: 100px;
    }
    .butt{
        margin-top: 20px;
        font-weight: bold;
    }
    .ingredients{
        margin-top: 10px;
    }
    .card-img-top{
        width: 50%;
        height: 300px;
        margin-left: 25%;
    }
    .mb-0{
        text-align: center;
    }
    span{
        margin-left: 10%;
    }
    .image{
        margin-left: 25%;
        width: 100px;
        height: 100px;
    }
    .ingredi{
        text-align: center;
    }
    .card-img-top{
        margin-top: 20px;
    }
    .btn-danger{
        margin-top: 20px;
    }
    .btn-default{
        margin-top: 20px;
        margin-left: 20px;
    }
    .list-group{
        margin-top: 100px;
    }
}